.bonus {
  position: absolute;
  z-index: 101;
}
.timer {
  position: absolute;
  font-size: 24px;
  right: 10vh;
  top: 4vh;
}

.coins {
  position: absolute;
  border-radius: 10px;
  font-size: 24px;
  width: 50px;
  height: 40px;
  left: 4vh;
  top: 3.5vh;
  background: url("../img/objects/coin.png");
  animation: coinGirando 0.4s steps(10) infinite;
}
.coins p {
  position: absolute;
  left: 9vh;
  top: 1vh;
}
.reloj {
  width: 50px;
  height: 50px;
  background: url("../img/objects/reloj.png");
  animation: movimiento 10s infinite;
}

.coin {
  border-radius: 10px;
  width: 46px;
  height: 32px;
  background: url("../img/objects/coin.png");
  animation: movimiento 3s infinite linear, coinGirando 0.4s steps(10) infinite;
}

@keyframes movimiento {
  from {
    left: 90%;
  }
  to {
    left: -100%;
  }
}

@keyframes coinGirando {
  from {
    background-position: 0px;
  }
  to {
    background-position: 460px;
  }
}
